*.png
.vscode
tempCodeRunnerFile
tempCodeRunnerFile.c
*.run
exercises/Ex01/Ex1-solution.pdf
exercises/Ex01/Ex1.pdf
exercises/Ex01/codes/task1.c
exercises/Ex01/codes/task2.c
exercises/Ex01/codes/task3.c
exercises/Ex01/codes/task4.c
exercises/Ex02/Ex2-solution.pdf
exercises/Ex02/Ex2.pdf
exercises/Ex02/code/task1.c
exercises/Ex02/code/task2.c
exercises/Ex02/code/task3.c
exercises/Ex02/code/task4.c
exercises/Ex03/Ex3-solution.pdf
exercises/Ex03/Ex3.pdf
exercises/Ex03/code/task03_1.c
exercises/Ex04/Ex4-solution.pdf
exercises/Ex04/Ex4.pdf
exercises/Ex04/code/task04_1.c
exercises/Ex04/code/task04_2.c
exercises/Ex05/Ex5-solution.pdf
exercises/Ex05/Ex5.pdf
exercises/Ex05/code/task1.c
exercises/Ex05/code/task4.c
exercises/Ex06/Ex6-solution.pdf
exercises/Ex06/Ex6.pdf
exercises/Ex06/code/task06_1a.c
exercises/Ex06/code/task06_1b_wrong.c
exercises/Ex06/code/task06_1b.c
exercises/Ex06/code/task06_2a.c
exercises/Ex06/code/task06_2b.c
exercises/Ex06/code/task06_2c.c
exercises/Ex06/code/task06_2d.c
exercises/Ex06/code/task06_3.c
exercises/Ex06/code/task06_4.c
exercises/Ex07/Ex7-solution.pdf
exercises/Ex07/Ex7.pdf
exercises/Ex07/code/task07_1.c
exercises/Ex07/code/task07_2.c
exercises/Ex07/code/task07_2a.c
exercises/Ex07/code/task07_2b.c
exercises/Ex07/code/task07_2c.c
exercises/Ex07/code/task07_2d.c
exercises/Ex07/code/task07_3.c
exercises/Ex08/Ex8-solution.pdf
exercises/Ex08/Ex8.pdf
exercises/Ex08/code/task08_3.c
exercises/Ex08/code/task08_4.c
exercises/Ex09/Ex9-solution.pdf
exercises/Ex09/Ex9.pdf
exercises/Ex09/code/task09_3.c
exercises/Ex10/Ex10-solution.pdf
exercises/Ex10/Ex10.pdf
exercises/Ex10/code/task10_3.c
exercises/Ex11/Ex11-solution.pdf
exercises/Ex11/Ex11.pdf
exercises/Ex11/code/task1_1.c
exercises/Ex11/code/task1_4.c
exercises/Ex11/code/task2_1.c
exercises/ex1/task1.c
exercises/ex1/task1.run
exercises/ex1/task2.c
exercises/ex1/task3.c
exercises/ex1/task4.c
exercises/ex2/task1.c
exercises/ex2/task2.c
exercises/ex2/task2.run
exercises/ex2/task3.run
exercises/ex2/task3a.c
exercises/ex2/task3b.c
exercises/ex2/task4.c
exercises/ex2/tempCodeRunnerFile
exercises/ex2/tempCodeRunnerFile.c
exercises/ex3/task1_solution.c
exercises/ex3/task1.c
exercises/ex3/task1.run
exercises/ex3/task1.txt
exercises/ex4/task1b.c
exercises/ex4/task2a.c
exercises/ex4/task2b.c
exercises/solutions/Ex01/Ex1-solution.pdf
exercises/solutions/Ex01/Ex1.pdf
exercises/solutions/Ex01/codes/task1.c
exercises/solutions/Ex01/codes/task2.c
exercises/solutions/Ex01/codes/task3.c
exercises/solutions/Ex01/codes/task4.c
exercises/solutions/Ex02/Ex2-solution.pdf
exercises/solutions/Ex02/Ex2.pdf
exercises/solutions/Ex02/code/task1.c
exercises/solutions/Ex02/code/task2.c
exercises/solutions/Ex02/code/task3.c
exercises/solutions/Ex02/code/task4.c
exercises/solutions/Ex03/Ex3-solution.pdf
exercises/solutions/Ex03/Ex3.pdf
exercises/solutions/Ex03/code/task03_1.c
exercises/solutions/Ex04/Ex4-solution.pdf
exercises/solutions/Ex04/Ex4.pdf
exercises/solutions/Ex04/code/task04_1.c
exercises/solutions/Ex04/code/task04_2.c
exercises/solutions/Ex05/Ex5-solution.pdf
exercises/solutions/Ex05/Ex5.pdf
exercises/solutions/Ex05/code/task1.c
exercises/solutions/Ex05/code/task4.c
exercises/solutions/Ex06/Ex6-solution.pdf
exercises/solutions/Ex06/Ex6.pdf
exercises/solutions/Ex06/code/task06_1a.c
exercises/solutions/Ex06/code/task06_1b_wrong.c
exercises/solutions/Ex06/code/task06_1b.c
exercises/solutions/Ex06/code/task06_2a.c
exercises/solutions/Ex06/code/task06_2b.c
exercises/solutions/Ex06/code/task06_2c.c
exercises/solutions/Ex06/code/task06_2d.c
exercises/solutions/Ex06/code/task06_3.c
exercises/solutions/Ex06/code/task06_4.c
exercises/solutions/Ex07/Ex7-solution.pdf
exercises/solutions/Ex07/Ex7.pdf
exercises/solutions/Ex07/code/task07_1.c
exercises/solutions/Ex07/code/task07_2.c
exercises/solutions/Ex07/code/task07_2a.c
exercises/solutions/Ex07/code/task07_2b.c
exercises/solutions/Ex07/code/task07_2c.c
exercises/solutions/Ex07/code/task07_2d.c
exercises/solutions/Ex07/code/task07_3.c
exercises/solutions/Ex08/Ex8-solution.pdf
exercises/solutions/Ex08/Ex8.pdf
exercises/solutions/Ex08/code/task08_3.c
exercises/solutions/Ex08/code/task08_4.c
